---
import Layout from '../layouts/Layout.astro';
import Texto from '../components/Texto.astro';
import Imagen from '../components/Imagen.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Welcome to Astro.">
  <main>
    <Texto />
    <div id="image" style="display: none;">
      <Imagen />
    </div>
    <div id="navbar" style="display: none;">
      <Navbar />
    </div>
  </main>
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => {
      const imageElement = document.querySelector('#image');
      if (imageElement instanceof HTMLElement) {
        imageElement.style.display = 'block';
      }
      setTimeout(() => {
        const navbarElement = document.querySelector('#navbar');
        if (navbarElement instanceof HTMLElement) {
          navbarElement.style.display = 'block';
        }
      }, 1000); // Delay de 1 segundo para el navbar
    }, 3000); // Delay de 3 segundos para la imagen
  });
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    position: relative; /* Para posicionar correctamente la imagen de fondo */
    overflow: hidden; /* Evita el desbordamiento de la imagen de fondo */
  }
</style>
