<header id="navbar" class="">
  <nav class="flex justify-between items-center w-[60%] mx-auto py-4">
    <img class="rounded-full w-16 h-16" src="https://i.pinimg.com/474x/01/ab/fc/01abfc687a17904a0a16e3bfc266831a.jpg" alt="foto javi">

    <div class="flex gap-x-12 text-xl">
      <a href="/about" class="text-white hover:text-gray-300 text-2xl">Inicio</a>
      <a href="/about" class="text-white hover:text-gray-300 text-2xl">Contacto</a>
      <a href="/about" class="text-white hover:text-gray-300 text-2xl">Github</a>
      <a href="/about" class="text-white hover:text-gray-300 text-2xl">Proyectos</a>
    </div>
  </nav>
</header>
